body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Background_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:41px;
    width:1000px;
    height:741px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:747px;
}

.u1 {
    position:absolute;
    left:2px;
    top:362px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Background_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:-8px;
    width:1000px;
    height:49px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:55px;
}

.u3 {
    position:absolute;
    left:2px;
    top:16px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Background_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:19px;
    top:41px;
    width:213px;
    height:69px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:213px;
    height:69px;
}

.u5 {
    position:absolute;
    left:2px;
    top:26px;
    width:209px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:892px;
    top:7px;
    width:99px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:783px;
    top:7px;
    width:99px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:874px;
    top:7px;
    width:8px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:19px;
    top:174px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:19px;
    top:230px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:19px;
    top:118px;
    width:325px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u13 {
    position:absolute;
    left:19px;
    top:369px;
    width:361px;
    height:63px;
    overflow:hidden;
}

#pd1u13 {
    position:absolute;
    left:0px;
    top:0px;
    width:361px;
    height:63px;
    
}

.u14_normal {
    background-image: url('../Creation_de_compte_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:10px;
    top:7px;
    width:326px;
    height:51px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:332px;
    height:57px;
}

.u15 {
    position:absolute;
    left:2px;
    top:18px;
    width:322px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:19px;
    top:10px;
    width:310px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u13 {
    position:absolute;
    left:0px;
    top:0px;
    width:361px;
    height:63px;
    
}

.u17_normal {
    background-image: url('../Creation_de_compte_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:10px;
    top:7px;
    width:218px;
    height:41px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:47px;
}

.u18 {
    position:absolute;
    left:2px;
    top:12px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:19px;
    top:10px;
    width:217px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:19px;
    top:195px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:19px;
    top:256px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:19px;
    top:291px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:19px;
    top:317px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

