body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -0px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Background_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:41px;
    width:1000px;
    height:741px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:747px;
}

.u1 {
    position:absolute;
    left:2px;
    top:362px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Background_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:-8px;
    width:1000px;
    height:49px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:55px;
}

.u3 {
    position:absolute;
    left:2px;
    top:16px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Background_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:19px;
    top:41px;
    width:213px;
    height:69px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:213px;
    height:69px;
}

.u5 {
    position:absolute;
    left:2px;
    top:26px;
    width:209px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u6 {
    position:absolute;
    left:777px;
    top:0px;
    width:208px;
    height:42px;
    overflow:hidden;
}

#pd1u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:208px;
    height:42px;
    
}

.u7 {
    position:absolute;
    left:91px;
    top:8px;
    width:111px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:208px;
    height:42px;
    
}

.u8 {
    position:absolute;
    left:116px;
    top:9px;
    width:99px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:7px;
    top:9px;
    width:99px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:98px;
    top:9px;
    width:8px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:19px;
    top:210px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:19px;
    top:274px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:19px;
    top:118px;
    width:325px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:19px;
    top:239px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16 {
    position:absolute;
    left:19px;
    top:303px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17 {
    position:absolute;
    left:19px;
    top:338px;
    width:201px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:19px;
    top:367px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19 {
    position:absolute;
    left:19px;
    top:402px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:19px;
    top:431px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:19px;
    top:475px;
    width:201px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:19px;
    top:501px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:19px;
    top:553px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u24 {
    position:absolute;
    left:209px;
    top:287px;
    width:302px;
    height:52px;
    overflow:hidden;
}

#pd1u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:302px;
    height:52px;
    
}

.u25_normal {
    background-image: url('../Inscription_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:13px;
    top:6px;
    width:276px;
    height:40px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:276px;
    height:40px;
}

.u26 {
    position:absolute;
    left:2px;
    top:12px;
    width:272px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:67px;
    top:18px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:302px;
    height:52px;
    
}

.u28 {
    position:absolute;
    left:31px;
    top:22px;
    width:148px;
    height:54px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Inscription_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:0px;
    width:297px;
    height:53px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:297px;
    height:53px;
}

.u30 {
    position:absolute;
    left:2px;
    top:18px;
    width:293px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:31px;
    top:10px;
    width:259px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:70px;
    top:162px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u33 {
    position:absolute;
    left:209px;
    top:213px;
    width:302px;
    height:52px;
    overflow:hidden;
}

#pd0u33 {
    position:absolute;
    left:0px;
    top:0px;
    width:302px;
    height:52px;
    
}

.u34_normal {
    background-image: url('../Inscription_files/u25_normal.png');
}

.u34_container {
    position:absolute;
    left:13px;
    top:6px;
    width:276px;
    height:40px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:276px;
    height:40px;
}

.u35 {
    position:absolute;
    left:2px;
    top:12px;
    width:272px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:67px;
    top:18px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u37 {
    position:absolute;
    left:209px;
    top:348px;
    width:302px;
    height:52px;
    overflow:hidden;
}

#pd0u37 {
    position:absolute;
    left:0px;
    top:0px;
    width:302px;
    height:52px;
    
}

.u38_normal {
    background-image: url('../Inscription_files/u25_normal.png');
}

.u38_container {
    position:absolute;
    left:13px;
    top:6px;
    width:276px;
    height:40px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:276px;
    height:40px;
}

.u39 {
    position:absolute;
    left:2px;
    top:12px;
    width:272px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:67px;
    top:18px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u41 {
    position:absolute;
    left:209px;
    top:414px;
    width:302px;
    height:52px;
    overflow:hidden;
}

#pd0u41 {
    position:absolute;
    left:0px;
    top:0px;
    width:302px;
    height:52px;
    
}

.u42_normal {
    background-image: url('../Inscription_files/u25_normal.png');
}

.u42_container {
    position:absolute;
    left:13px;
    top:6px;
    width:276px;
    height:40px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:276px;
    height:40px;
}

.u43 {
    position:absolute;
    left:2px;
    top:12px;
    width:272px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:67px;
    top:18px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u45 {
    position:absolute;
    left:209px;
    top:546px;
    width:259px;
    height:46px;
    overflow:hidden;
}

#pd0u45 {
    position:absolute;
    left:0px;
    top:0px;
    width:259px;
    height:46px;
    
}

.u46_normal {
    background-image: url('../Inscription_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:0px;
    top:0px;
    width:218px;
    height:41px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:47px;
}

.u47 {
    position:absolute;
    left:2px;
    top:12px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:9px;
    top:3px;
    width:217px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

