body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -0px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Background_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:41px;
    width:1000px;
    height:741px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:747px;
}

.u1 {
    position:absolute;
    left:2px;
    top:362px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Background_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:-8px;
    width:1000px;
    height:49px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:55px;
}

.u3 {
    position:absolute;
    left:2px;
    top:16px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Background_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:19px;
    top:41px;
    width:213px;
    height:69px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:213px;
    height:69px;
}

.u5 {
    position:absolute;
    left:2px;
    top:26px;
    width:209px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u6 {
    position:absolute;
    left:777px;
    top:0px;
    width:208px;
    height:42px;
    overflow:hidden;
}

#pd1u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:208px;
    height:42px;
    
}

.u7 {
    position:absolute;
    left:91px;
    top:8px;
    width:111px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:208px;
    height:42px;
    
}

.u8 {
    position:absolute;
    left:116px;
    top:9px;
    width:99px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:7px;
    top:9px;
    width:99px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:98px;
    top:9px;
    width:8px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:19px;
    top:174px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:19px;
    top:230px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:19px;
    top:118px;
    width:325px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u15 {
    position:absolute;
    left:19px;
    top:369px;
    width:361px;
    height:63px;
    overflow:hidden;
}

#pd1u15 {
    position:absolute;
    left:0px;
    top:0px;
    width:361px;
    height:63px;
    
}

.u16_normal {
    background-image: url('../Connexion_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:10px;
    top:7px;
    width:326px;
    height:51px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:332px;
    height:57px;
}

.u17 {
    position:absolute;
    left:2px;
    top:18px;
    width:322px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:19px;
    top:10px;
    width:310px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u15 {
    position:absolute;
    left:0px;
    top:0px;
    width:361px;
    height:63px;
    
}

.u19_normal {
    background-image: url('../Connexion_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:10px;
    top:7px;
    width:218px;
    height:41px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:47px;
}

.u20 {
    position:absolute;
    left:2px;
    top:12px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:19px;
    top:10px;
    width:217px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:333px;
    top:195px;
    width:235px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:333px;
    top:246px;
    width:235px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u24 {
    position:absolute;
    left:333px;
    top:317px;
    width:110px;
    height:34px;
    overflow:hidden;
}

#pd0u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:110px;
    height:34px;
    
}

.u25 {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u27 {
    position:absolute;
    left:16px;
    top:0px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:16px;
    top:0px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u30 {
    position:absolute;
    left:19px;
    top:246px;
    width:266px;
    height:53px;
    overflow:hidden;
}

#pd1u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:266px;
    height:53px;
    
}

.u31 {
    position:absolute;
    left:0px;
    top:10px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u32_normal {
    background-image: url('../Connexion_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:190px;
    top:12px;
    width:70px;
    height:20px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u33 {
    position:absolute;
    left:2px;
    top:3px;
    width:66px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:266px;
    height:53px;
    
}

.u34 {
    position:absolute;
    left:0px;
    top:10px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u35_normal {
    background-image: url('../Connexion_files/u32_normal.png');
}

.u35_container {
    position:absolute;
    left:190px;
    top:12px;
    width:70px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u36 {
    position:absolute;
    left:2px;
    top:3px;
    width:66px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:19px;
    top:195px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u38 {
    position:absolute;
    left:288px;
    top:441px;
    width:201px;
    height:48px;
    overflow:hidden;
}

#pd1u38 {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:48px;
    
}

.u39_normal {
    background-image: url('../Connexion_files/progress_u39_normal.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:9px;
    width:180px;
    height:24px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:30px;
}

.u40 {
    position:absolute;
    left:2px;
    top:4px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:15px;
    top:13px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u38 {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:48px;
    
}

.u42_normal {
    background-image: url('../Connexion_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:9px;
    width:180px;
    height:24px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:30px;
}

.u43 {
    position:absolute;
    left:2px;
    top:4px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:15px;
    top:13px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

